*
{
    font-family:cursive;
}
h1
            {
                color:blue;
            }
            h1:hover{
                color:red;
            }
            a
            {
                color:darkblue;
            }
            a:hover{
                color:red;
}
.dp
{
    padding:0px 0px 0px 500px;
    
}
